* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  background-color: lightgreen;
  color: white;
  min-height: 100vh;
  max-height: 100vh;
}
.nav-links {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}
nav a {
  text-decoration: none;
}
nav .logo {
  text-decoration:double;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}
.profile {
  font-size: 2rem;
}
